<!-- <div class="home">
    <div class="aside">
        <div>
            <table class="employeesNames">
                <tr *ngFor="let e of employees" style="width:50%; display: inline-block; text-align: center">
                    <td>
                        <app-dinamic-square innerText="{{e.lastName}} {{e.firstName}}" backgroundColor="gold">
                        </app-dinamic-square>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <main>
        <table class="shiftTable">
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
        </table>
    </main>
    <div class="aside">
        <table class="employeesNames">
            <tr *ngFor="let e of employees" style="width:50%; display: inline-block; text-align: center">
                <td>
                    <app-dinamic-square innerText="{{e.lastName}} {{e.firstName}}" backgroundColor="gold">
                    </app-dinamic-square>
                </td>
            </tr>
        </table>
    </div>
</div> -->

<!-- <p>{{shiftsToDisplay[2][0].employeeId}}</p> -->

<!-- 
<table >
    <td *ngFor="let s of shiftsToDisplay" >
        <tr *ngFor="let i of s">
            <td>{{i}}</td>
        </tr>
    </td>

</table> -->

{{shiftsToDisplay}}