<h2>
    Add New Future Shift
</h2>
<form #formInfo="ngForm">

    <mat-form-field>
        <input matInput type="number" placeholder="futureShiftTypeId" name="futureShiftTypeId" [(ngModel)]="futureShift.shiftTypeId" required
            #futureShiftTypeIdInfo="ngModel">
    </mat-form-field>
    <span *ngIf="futureShiftTypeIdInfo.errors?.required && futureShiftTypeIdInfo.touched">Missing futureShiftTypeId</span>
    <br>

    <mat-form-field>
        <input matInput type="number" placeholder="employeeId" name="employeeId" [(ngModel)]="futureShift.employeeId" required
            #employeeIdInfo="ngModel">
    </mat-form-field>
    <span *ngIf="employeeIdInfo.errors?.required && employeeIdInfo.touched">Missing futureShiftTypeId</span>
    <br>

    <mat-form-field>
        <input matInput type="time" placeholder="Started At:" name="starts" [(ngModel)]="futureShift.started" required
            #startsInfo="ngModel">
    </mat-form-field>
    <span *ngIf="startsInfo.errors?.required && startsInfo.touched">Missing Starting Time</span>
    <br>

    <mat-form-field>
        <input matInput type="time" placeholder="Ended At:" name="ends" [(ngModel)]="futureShift.ended" 
            #endsInfo="ngModel">
    </mat-form-field>
    <span *ngIf="endsInfo.errors?.required && endsInfo.touched">Missing Ending Time</span>
    <br>

    <button mat-button [disabled]="formInfo.form.invalid" (click)="addFutureShift()">add</button>
    <br>

</form>
<hr>