<img src="/assets/images/gif.gif" *ngIf="!shiftTypes">



<a routerLink="/employees/new" class="insert">Enter New Shift Type</a>
<br>


<!-- <div class="mat-elevation-z8">
    <table mat-table *ngIf="employees" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="First name">
            <th mat-header-cell *matHeaderCellDef> first Name </th>
            <td *matCellDef="let employee"> {{employee.firstName}} </td>
        </ng-container>

        <ng-container matColumnDef="Last Name">
            <th mat-header-cell *matHeaderCellDef> Last Name </th>
            <td mat-cell *matCellDef="let employee"> {{employee.lastName}} </td>
        </ng-container>

        <ng-container matColumnDef="Title">
            <th mat-header-cell *matHeaderCellDef> Title </th>
            <td mat-cell *matCellDef="let employee"> {{employee.title}} </td>
        </ng-container>

        <ng-container matColumnDef="Birth Date">
            <th mat-header-cell *matHeaderCellDef> Birth Date </th>
            <td mat-cell *matCellDef="let employee"> {{employee.birthDate}} </td>
        </ng-container>

        <ng-container matColumnDef="Hire Date">
            <th mat-header-cell *matHeaderCellDef> Hire Date </th>
            <td mat-cell *matCellDef="let employee"> {{employee.hireDate}} </td>
        </ng-container>

        <ng-container matColumnDef="Adress">
            <th mat-header-cell *matHeaderCellDef> Adress </th>
            <td mat-cell *matCellDef="let employee"> {{employee.adress}} </td>
        </ng-container>

        <ng-container matColumnDef="Postal Code">
            <th mat-header-cell *matHeaderCellDef> Postal Code </th>
            <td mat-cell *matCellDef="let employee"> {{employee.postalCode}} </td>
        </ng-container>

        <ng-container matColumnDef="Phone 1">
            <th mat-header-cell *matHeaderCellDef> Phone 1 </th>
            <td mat-cell *matCellDef="let employee"> {{employee.phone1}} </td>
        </ng-container>

        <ng-container matColumnDef="Phone 2">
            <th mat-header-cell *matHeaderCellDef> Phone 2 </th>
            <td mat-cell *matCellDef="let employee"> {{employee.phone2}} </td>
        </ng-container>

        <ng-container matColumnDef="Role">
            <th mat-header-cell *matHeaderCellDef> Role </th>
            <td mat-cell *matCellDef="let employee"> {{employee.role}} </td>
        </ng-container>

        <ng-container matColumnDef="Notes">
            <th mat-header-cell *matHeaderCellDef> Notes </th>
            <td mat-cell *matCellDef="let employee"> {{employee.notes}} </td>
        </ng-container>

        <ng-container matColumnDef="id Card">
            <th mat-header-cell *matHeaderCellDef> id Card </th>
            <td mat-cell *matCellDef="let employee"> {{employee.idCard}} </td>
        </ng-container>

        <ng-container matColumnDef="Thumbnail">
            <th mat-header-cell *matHeaderCellDef> Thumbnail </th>
            <td mat-cell *matCellDef="let employee"> {{employee.photo}} </td>
        </ng-container>

        <ng-container matColumnDef="Update">
            <th mat-header-cell *matHeaderCellDef> Update </th>
            <td mat-cell *matCellDef="let employee"><a routerLink="/employees/edit/{{employee.id}}">
                <img src="/assets/images/updateEmployee.png" class="updateImage">
            </a></td>
        </ng-container>

        <ng-container matColumnDef="Delete">
            <th mat-header-cell *matHeaderCellDef> Delete </th>
            <td mat-cell *matCellDef="let employee"> {{employee.symbol}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

</div> -->

<div >
    <table>
        <tr *ngIf="shiftTypes">
            <th>Type Title</th>
            <th>starts</th>
            <th>ends</th>
        </tr>
        <tr *ngFor="let s of shiftTypes">
            <td>{{s.typeTitle}}</td>
            <td>{{s.starts}}</td>
            <td>{{s.ends}}</td>
            
            <td>
                <app-thumbnail imageSource="/assets/images/employeesThmbnails/{{s.shiftTypeId}}.jpg" imageWidth="80"
                    imageHeight="80" (userEntersMe)="preview.src=($event)" (userLeavesMe)="preview.src=''">
                </app-thumbnail>
            </td>
            <td>
                <a routerLink="/shifts/edit/{{s.shiftTypeId}}">
                    <img src="/assets/images/updateEmployee.png" class="updateImage">
                </a>
            </td>
            <td><img src="/assets/images/deleteImage.jpg" class="deleteImage" (click)="deleteShiftType(s.shiftTypeId)"></td>
        </tr>
    </table>
</div>

<img #preview class="preview">